.page-header
  %h1 
    Sign Up
    %small
      create your account
.alert.alert-info
  == In order to create your account, we need to collect some basic profile information.  Your name and email address are required for internal communications.  We will never share this information with any third party.  Your zipcode, date of birth and gender are required to match your data with the most relevant research projects.  Please see our #{link_to 'privacy policy', page_path('privacy')} for a detailed description of the information that we collect, and how it is used.
  
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  - if resource.errors.any?
    .alert.alert-error
      %h2
        = pluralize(resource.errors.count, "error")
        prohibited this category from being saved:
      %ul
        - resource.errors.full_messages.each do |msg|
          %li= msg

  = f.label :first_name
  = f.text_field :first_name

  = f.label :last_name
  = f.text_field :last_name

  = f.label :email
  = f.email_field :email
  
  = f.label :zipcode
  = f.text_field :zipcode

  = f.label :date_of_birth
  = f.date_select :date_of_birth, :order => [:month, :day, :year], :start_year => Date.today.year - 100

  = f.label :gender
  = f.select :gender, ['male', 'female']
  
  = f.label :password
  = f.password_field :password

  = f.label :password_confirmation
  = f.password_field :password_confirmation

  %br/
  %br/
  = f.submit "Sign up", :class => 'btn-primary btn-large'

= render "links"
