- auth = service.authentications.where(:user_id => current_user.id).first
%tr
  -# %td= image_tag("favicons/#{service.name}.png")
  %td.pull-right
    %h3= service.title
  %td
    .progress.adjusted
      .progress-primary
        - if current_user && auth.present?
          <div class="bar" style="width: 60%;"></div>
        - else
          <div class="bar" style="width: 0%;"></div>
  %td.center
    - if current_user && auth.present?
      = link_to 'Disconnect', authentication_path(auth), method: :delete, confirm: "Disconnect #{service.title} account?"
    - else
      .btn-group
        =link_to 'Connect', "/auth/#{service.name}", :class=>'btn btn-mini'
