%h2 Supported Services

%table.large
  %tbody
    %tr
      %td 
        Facebook
      %td
        = heart_icon_helper('facebook')
        
    %tr
      %td
        Flickr
      %td
        = heart_icon_helper('flickr')
        
    %tr
      %td
        Foursquare 
      %td
        = heart_icon_helper('foursquare')
            
    %tr
      %td
        Instagram
      %td
        = heart_icon_helper('instagram')
        
    %tr
      %td
        LinkedIn
      %td
        = heart_icon_helper('linkedin')
        
    %tr
      %td
        Netflix
      %td
        = heart_icon_helper('netflix')
        
    %tr
      %td
        Rdio
      %td
        = heart_icon_helper('rdio')
        
    %tr
      %td
        Twitter
      %td
        = heart_icon_helper('twitter')

%br/
%br/
%h3 Coming Soon...

%table
  %tbody
    %tr
      %td
        <a href="https://github.com/mbleigh/omniauth-box">Box.net</a>
        
    %tr
      %td
        <a href="https://github.com/intridea/omniauth-browserid">BrowserID</a>
        
    %tr
      %td
        <a href="https://github.com/janx/omniauth-broadworks">BroadWorks</a>
        
    %tr
      %td
        <a href="https://github.com/dkastner/omniauth-concur">Concur</a>
        
    %tr
      %td
        <a href="https://github.com/calebclark/omniauth-constantcontact">ConstantContact</a>
        
    %tr
      %td
        <a href="https://github.com/asanghi/omniauth-constantcontact2">ConstantContact2</a>
        
    %tr
      %td
        <a href="https://github.com/robdimarco/omniauth_crowd">Crowd</a>
        
    %tr
      %td
        <a href="https://github.com/slainer68/omniauth-dailymotion">Dailymotion</a>
        
    %tr
      %td
        <a href="https://github.com/geoffroymontel/omniauth-deezer">Deezer</a>
        
    %tr
      %td
        <a href="https://github.com/jeffersongirao/omniauth-dwolla">Dwolla</a>
        
    %tr
      %td
        <a href="https://github.com/spagalloco/omniauth-dropbox">Dropbox</a>
        
    %tr
      %td
        <a href="https://github.com/k504866430/omniauth-eventbrite">Eventbrite</a>
        
    %tr
      %td
        <a href="https://github.com/szimek/omniauth-evernote">Evernote</a>
        
    %tr
      %td
        <a href="https://github.com/geoloqi/omniauth-geoloqi">Geoloqi</a>
        
    %tr
      %td
        <a href="https://github.com/JCBarry/omniauth-getglue">GetGlue</a>
        
    %tr
      %td
        <a href="https://github.com/intridea/omniauth-github">GitHub</a>
        
    %tr
      %td
        <a href="https://github.com/Yesware/">Google</a>
        
    %tr
      %td
        <a href="https://github.com/zquestz/">Google OAuth2</a>
        
    %tr
      %td
        <a href="https://github.com/socialreferral/omniauth-hyves">Hyves</a>
        
    %tr
      %td
        <a href="https://github.com/intridea/omniauth-identity">Identity</a>
        
    %tr
      %td
        <a href="https://github.com/nationallibrarynz/omniauth-igovt">igovt</a>

        
    %tr
      %td
        <a href="https://github.com/spagalloco/">Instapaper</a>
        
    %tr
      %td
        <a href="https://github.com/nono/omniauth-linuxfr.org">LinuxFr.org</a>
        
    %tr
      %td
        <a href="https://github.com/floomoon/omniauth-mailchimp">Mailchimp</a>
        
    %tr
      %td
        <a href="https://github.com/gumayunov/omniauth-mailru">Mail.ru</a>
    
    %tr
      %td
        <a href="/auth/meetup">Meetup.com</a>
        
    %tr
      %td
        <a href="https://github.com/nathanvda/omniauth-mydigipass">Mydigipass.com</a>
        
    %tr
      %td
        <a href="https://github.com/junegunn/omniauth-nate">Nate</a>
        
    %tr
      %td
        <a href="https://github.com/incubus/omniauth-odnoklassniki">Odnoklassniki</a>
        
    %tr
      %td
        <a href="https://github.com/RodrigoAyala/omniauth-ohloh">Ohloh</a>
        
    %tr
      %td
        <a href="https://github.com/sozialhelden/omniauth-osm">OpenStreetMap</a>
        
    %tr
      %td
        <a href="https://github.com/origo/omniauth-origo">Origo</a>
        
    %tr
      %td
        <a href="https://github.com/arunagw/omniauth-picplz">Picplz</a>
        
    %tr
      %td
        <a href="https://github.com/lucasallan/omniauth-podio">Podio</a>
        
    %tr
      %td
        <a href="https://github.com/beenhero/omniauth-qq">QQ</a>
        
    %tr
      %td
        <a href="https://github.com/nicck/omniauth-rtm">Remember The Milk</a>
        
    %tr
      %td
        <a href="/auth/runkeeper">RunKeeper</a>
        
    %tr
      %td
        <a href="https://github.com/toyokazu/omniauth-shibboleth">Shibboleth</a>
        
    %tr
      %td
        <a href="https://github.com/Shopify/omniauth-shopify-oauth2">Shopify</a>
        
    %tr
      %td
        <a href="https://github.com/soundcloud/omniauth-soundcloud">SoundCloud</a>
        
    %tr
      %td
        <a href="https://github.com/richardvanhook/omniauth-salesforce">salesforce</a>
        
    %tr
      %td
        <a href="https://github.com/tallgreentree/omniauth-37signals">37signals</a>
        
    %tr
      %td
        <a href="https://github.com/reu/omniauth-steam">Steam</a>
        
    %tr
      %td
        <a href="https://github.com/JCBarry/omniauth-tradeking">TradeKing</a>
        
    %tr
      %td
        <a href="https://github.com/jamiew/">Tumblr</a>
        
    %tr
      %td
        <a href="https://github.com/Pasta/omniauth-viadeo">Viadeo</a>
        
    %tr
      %td
        <a href="https://github.com/lomography/omniauth-vimeo">Vimeo</a>
        
    %tr
      %td
        <a href="https://github.com/mamantoha/omniauth-vkontakte">Vkontakte</a>
        
    %tr
      %td
        <a href="https://github.com/jihao/omniauth-weibo">Weibo</a>
        
    %tr
      %td
        <a href="https://github.com/beenhero/omniauth-weibo-oauth2">Weibo OAuth2</a>
        
    %tr
      %td
        <a href="https://github.com/joel/omniauth-windowslive">Windows Live ID</a>
        
    %tr
      %td
        <a href="https://github.com/roccoblues/omniauth-xing">XING</a>
        
    %tr
      %td
        <a href="https://github.com/timbreitkreutz/">Yahoo</a>
        
    %tr
      %td
        <a href="https://github.com/le0pard/">Yammer</a>
        
    %tr
      %td
        <a href="https://github.com/steveh/omniauth-yubikey">Yubikey</a>
        
    %tr
      %td
        <a href="https://github.com/evrone/omniauth-yandex">Yandex</a>
        
    %tr
      %td
        <a href="https://github.com/jamiew/">YouTube</a>
        
</tbody>
</table>