%p#notice= notice

%p
  %b Organization:
  = @project.organization_id
%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Start date:
  = @project.start_date
%p
  %b Location:
  = @project.location

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
